{% extends 'auth_base.html' %}
{% load form_tags %}

{% block content %}
<form method="POST" class="signup-form">
    {% csrf_token %}
    <h2 class="form-title">Acceso sin contraseña</h2>

    <div class="form-group">
        {{ form.email|add_class:"input-field" }}
        {% for err in form.email.errors %}
        <span class="input-error">{{ err }}</span>
        {% endfor %}
    </div>

    <button type="submit" class="signup-btn">Enviar código</button>

    <p class="form-link mt-3">
        <a href="{% url 'signin' %}">Volver al inicio de sesión</a>
    </p>
</form>
{% endblock %}